<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<h1>VPC Creator</h1>
<h2>Create your own AWS Virtual Private Cloud.</h2>
<h3>Choose a region in which you desire to work.</h3>
<form method="POST" action="/">
    <select name="region">
        <option value="">--Please choose a region--</option>
        <option value="us-east-1">us-east-1</option>
        <option value="us-east-2">us-east-2</option>
    </select>
    <input type="submit" name="Region" value="Choose region">
</form>